@font-face {
  font-family: 'HelveticaRoman';
  src: url('./../fonts/helvetica/HelveticaLTStd/HelveticaLTStd-Roman.otf');
  src: url('./../fonts/helvetica/HelveticaLTStd/HelveticaLTStd-Roman.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BodoniItalic';
  src: url('./../fonts/bodoni/BodoniItalicBT.ttf');
  src: url('./../fonts/bodoni/BodoniItalicBT.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni';
  src: url('./../fonts/bodoni/BodoniMT.ttf');
  src: url('./../fonts/bodoni/BodoniMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}